@import "tailwindcss";

@theme {
  --font-sans: "Josefin Sans", sans-serif;
  --font-alata: "Alata";
  --color-dark: var(--color-gray-800);
  --color-light: var(--color-gray-500);
}

h2 {
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
}

.flex-base {
  @apply flex md:flex-row flex-col justify-center items-center gap-8;
}

.product-gradient {
  @apply top-0 right-0 bottom-0 left-0 absolute bg-linear-to-b from-transparent group-hover:from-gray-50 to-gray-900 group-hover:to-white group-hover:opacity-70 transition-all duration-150;
}

.product-text {
  @apply bottom-4 left-4 absolute max-w-18 group-hover:text-black text-2xl uppercase group-hover:scale-110 transition-all duration-150;
}

.product-img-mobile {
  @apply md:hidden block w-full group-hover:scale-110 transition-all duration-150;
}

.product-img-desktop {
  @apply hidden md:block w-full group-hover:scale-110 transition-all duration-150;
}

.open {
  transform: rotate(90deg) translate(-6px);
}

.open .h-top {
  transform: rotate(45deg) translate(6px);
}

.open .h-middle {
  display: none;
}

.open .h-bottom {
  transform: rotate(-45deg) translate(6px);
}

.show {
  opacity: 100%;
}
